@mixin button() {
    outline: none;
    border: none;
    border-radius: 5rem;
    color:#333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    &::before
    {
        content: '';
        position: absolute;
        top:0;
        left:0;
        background: $yellow;
        height:100%;
        width:0%;
        transition: .2s;
        z-index: -1;
    }
    &:hover::before
    {
        width:100%;
    }
}
@mixin heading() {
    font-size:4rem;
    color:#000;
    padding-top:7rem;
    margin-bottom: 2rem;
    span{
        color: $yellow;

    }
} 

$yellow: #fff200;
$white:#fff;

*{
    box-sizing: border-box;
    font-family:'Exo2',sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize; 
}
html{
    font-size:  62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
#header
{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
    
    .fa-hamburger
    {
        font-size: 5rem;
        z-index: 1000;
        color: $yellow;
        cursor: pointer;
        display: none;
    }
    .logo{
        img{
            height: 5rem;
            
        }
    }
    nav{
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            
            li{
                margin-right: 4rem;
                
                a
                {
                    font-size:2rem;
                    color:#fff;

                    &:hover
                    {
                        color:$yellow;
                        text-decoration: none
                    }
                }
            }
        }
    }
}
.header-active
{
    background: #333;
    height: 6rem;
    box-shadow: .2rem 0 .5rem #000;
    nav{
        ul{
            margin: 0;
        }
    }
}
#Home
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    padding-left: 10rem;
    position: relative;
  .content
    {
        h1{
            font-size: 5rem;
            font-family: 'lemonada' sans-serif;
            font-weight: bolder;
            text-shadow: .1rem .1rem .3rem #333;
            color: $yellow;
        }
        h2{
            font-size: 3.5rem;
            font-family: 'lemonada' sans-serif;
            font-weight: bolder;
            text-shadow: .1rem .1rem .3rem #333;
            color: $white;
            margin: 1rem 0;
        }
        p{
            font-size: 1.6rem;
            color: #ccc;
        }
        button{
            @include button();
            height: 4rem;
            width: 14rem;
        }
    }
    .video-container
    {
        position: absolute;
        top: 0;
        left:0;
        height: 100vh;
        width: 100%;
        z-index: -1;
        .vid{
            position: absolute;
            object-fit: cover;
            height: 100vh;
            width: 100%;
            display: none;
        }
        .vid1{
            display: block;
        }
    }
    .controls
    {
        position: absolute;
        bottom:14%; left:50%;
        display:flex;
        .dot
        {
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            background: $yellow;
            margin: 0 1rem;
            &:hover
            {
                background: $white;
            }
        }
    }
    
}
#Special
{
    background:#000;
    min-height: 100vh;
    .heading{
        h1{
            @include heading();
            color: $white; 
        }
        p{
            color:#ccc;
            font-size: 2rem;
        }   
    }
    .card-container{
        width: 100%;
        height:7rem auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .card{
            height: 50rem;
            width: 30rem;
            background: $white;
            padding: 1rem;
            margin: 2rem;
            text-align: center;
            img{
                height: 50%;
                width: 100%;
                object-fit: cover;
            }
            p{
                font-size: 1.4rem;
                margin: 2rem 0;
            }
            button{
                @include button();
                height: 3.5rem;
                width: 14rem;
                background:#333;
                color:$white;
                &:hover
                {
                    color: #333;
                }
            }
            &:hover
            {
                transform: scale(.9);
            }
        }

    }
}
#About
{
    .heading{
        h1{
            @include heading();
        }
    }
    .content{
        margin:5rem auto;
        p{
            font-size: 2rem;
        }
        button{
            @include button();
            height: 4rem;
            width: 15rem;
            background:#333;
            color:$white;
           &:hover
           {
               color:#333;
           }
        }
    }
    .image
    {
        img{
            width: 30vw;
        }
    }
}
#Dishes
{
    min-height:100vh;
    width: 100vw;
    
    .heading{
        h1{
            @include heading();
        }
    }
    .box-container
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 1rem auto;
        width: 90%;

        .box{
            height: 25rem;
            width: 30rem;
            border-radius: .5rem;
            margin: 2rem;
            cursor: pointer;
            overflow:hidden;
            position: relative;
            box-shadow: 0 0 .5rem #333;

            img
            {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .infor{
                position: absolute;
                top:0;left: 0;
                height: 100%;
                width: 100%;
                text-align: center;
                background:rgba(51,51,51,.6);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow:column;
                color: $white;
                transform: scale(0);
                h3{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.3rem;
                    border-bottom: .2rem solid $yellow;
                    border-top:.2rem solid $yellow ;
                    margin: 1rem 2rem;
                }
                button{
                    @include button();
                    width: 8rem;
                    height: 3rem;
                }

            }
            &:hover .infor
            {
                transform: scale(1);
            }
        }

    }
}
#Contact
{
    min-height: 100vh;
    width: 100vw;
    background-image: url(../Images/Background.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    .heading{
        h1{
            @include heading();
        }
    }
    form{
        background:$white;
        padding-top: 2rem;
        margin: 1rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 2rem #333;

        .inputBox
        {
            position: relative;
            text-align: center;

            input, textarea{
                outline: none;
                border:.2rem solid #333;
                border-radius: .2rem;
                padding: 0 1rem;
                background:none;
                height: 5rem;
                width: 98%;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            textarea{
                padding:1rem;
                resize: none;
                height: 20rem;
            }
            
        }
        input[type="submit"]
            {
                @include button();
                height: 4rem;
                width: 14rem;
                margin-bottom: 2rem;
                margin-left:2%;
                background: #333;
                color:$white;

                &:hover
                {
                    color: #333;
                    background: $yellow ;
                }
            }
    }
}
#footer
{
    background: #333;
    .brand
    {
        text-align: center;
        margin-top:2rem;
            .logo
            {
                img{
                    height: 10rem;

                }
            }
        .icons
        {
            a{
                font-size: 2rem;
                margin: 0 .5rem;
                color: #fff;
                cursor: pointer;
                &:hover
                {
                    color: $yellow;
                }
            }
        }
    }
    .footer-links
    {
        text-align: center;
        display: flex;
        flex-flow: column;
        margin: 1rem 0;
        h3{
            font-size: 3rem;
            color: $yellow;
        }
        a{
            text-decoration: none;
        
            &:hover
            {
            color:$yellow;
            }
        }
    }
    .box-container
    {
        text-align: center;
        .box{
            padding:.5rem 0;
            font-size: 2.5rem;
            color: $white;
            a{

                padding-left:1rem;
                font-size: 1.5rem;
                text-decoration: none;
                &:hover
                {
                    color: $yellow;
                }
            }
        }

    }
}













@media (max-width:768px) {
    html{
        font-size: 50%;
        text-align: center;
    }
    #header
    {
        .fa-hamburger
        {
            display: block;
        }
        nav
        {
            position: fixed;
            top:0;left:-120%;
            height: 100vh;
            width: 35rem;
            background: #000;  
            ul{
                flex-flow: column;
                justify-content: center;
                height: 100%;
                li{
                    margin: 2rem;
                    a{
                        font-size: 3.5rem;
                        border-radius: 5rem;

                        &:hover
                        {
                            padding:.5rem 7.5rem;
                            color: #333;
                            background: $yellow;
                        }
                    }
                };
            }
        }
        .nav-toggle
        {
            left: 0%;
        }
    }
    #About
    {
        .image{
            text-align: center;
            img{
               width: 70vw;
            }
        }
    }
    
}